<form>
    <input type="button" value="Button">
    <input type="submit" value="Submit">
    <input type="reset" value="Reset">
</form>
<fieldset class="ui-grid-b">
    <div class="ui-block-a"><input type="button" value="Hmm"></div>
    <div class="ui-block-b"><input type="reset" value="No"></div>
    <div class="ui-block-c"><input type="submit" value="Yes"></div>
</fieldset>
